.c121-pearl { background-color: #d5d4cc; }
.c520-empire { background-color: #cacac7; }
.c556-fresh-concrete { background-color: #9b9790; }
.c562-monsoon-cloud { background-color: #6a7275; }
.c566-ivory-white { background-color: #f3e8d5; }
.c567-dazzle-light { background-color: #f1e9d5; }
.c576-cerulean { background-color: #5d8a85; }
.c587-dragon-red { background-color: #873e3c; }
.c1024-timeless { background-color: #dfdcd1; }
.c1029-coppertone { background-color: #d4ac8d; }
.c1032-iron-grey { background-color: #a9a69e; }
.c1033-old-ochre { background-color: #7c7368; }
.c1038-smooth-ivory { background-color: #e8d5b7; }
.c1046-desert-rose { background-color: #e5c09f; }
.c1075-najavo-white { background-color: #ece2c9; }
.c1105-soya-milk { background-color: #f0eee4; }
.c1108-lotus-root { background-color: #e3dcc9; }
.c1110-nura { background-color: #cba971; }
.c1111-sinai { background-color: #c59d5c; }
.c1114-byblos-bronze { background-color: #d0aa79; }
.c1122-beach-honey { background-color: #e7d4c2; }
.c1132-sahara-sand { background-color: #c4a789; }
.c1133-mito { background-color: #af8c6c; }
.c1138-beaver { background-color: #79695d; }
.c1150-sweet-nectar { background-color: #f7e4b0; }
.c1153-quick-sand { background-color: #b6884a; }
.c1154-old-cream { background-color: #f9e8c4; }
.c1155-buttery-cream { background-color: #f9e1af; }
.c1158-yellow-river { background-color: #d6a356; }
.c1159-haystack { background-color: #bc8549; }
.c1177-nobile { background-color: #e7bf98; }
.c1186-autumn-yellow { background-color: #d79d5b; }
.c1187-tribal { background-color: #d29146; }
.c1188-unicorn { background-color: #f9e2c3; }
.c1193-spray-tan { background-color: #d3864a; }
.c1197-miami-coral { background-color: #e39d6b; }
.c1198-sunpath { background-color: #d58b5a; }
.c1246-chateau { background-color: #d8b288; }
.c1250-hour-glass { background-color: #e9ddca; }
.c1251-bare-ground { background-color: #dfceb9; }
.c1260-seedy-pearl { background-color: #ead9c7; }
.c1268-silver-glass { background-color: #cfcec6; }
.c1284-fossil { background-color: #a99f90; }
.c1294-battleship { background-color: #b5b4ae; }
.c1391-bare { background-color: #d3d2c7; }
.c1420-tower-brown { background-color: #7d6958; }
.c1421-muesli { background-color: #8b7360; }
.c1432-rice-roll { background-color: #e5dfca; }
.c1453-vanilla { background-color: #efeee1; }
.c1462-evening-sky { background-color: #83807a; }
.c1564-evening-stone { background-color: #686159; }
.c1574-old-lace { background-color: #ece6d5; }
.c1819-shore { background-color: #ebe0c6; }
.c1938-tea-leaves { background-color: #baaa91; }
.c1966-teal-beige { background-color: #efd4ab; }
.c2011-antique-brass { background-color: #bb9582; }
.c2020-cocoa { background-color: #654840; }
.c2021-frosty-peach { background-color: #f8e1cc; }
.c2024-light-mocha { background-color: #bda694; }
.c2039-red-ocean { background-color: #9b5f59; }
.c2046-blush-pink { background-color: #e8bdb2; }
.c2059-brick-red { background-color: #a3534e; }
.c2061-pangolin { background-color: #8c5841; }
.c2087-roma { background-color: #b38268; }
.c2090-island-tan { background-color: #cdafa1; }
.c2092-power-puff { background-color: #b9897a; }
.c2097-burned-sugar { background-color: #7c5e5a; }
.c2120-tropical-burst { background-color: #c9764b; }
.c2128-peach-blush { background-color: #f1c4af; }
.c2131-fire-brick { background-color: #c7785d; }
.c2132-flax { background-color: #a95a44; }
.c2133-coco-berry { background-color: #d29588; }
.c2135-cocoa-seed { background-color: #a87168; }
.c2170-sinopia { background-color: #968782; }
.c2206-yellow-stone { background-color: #f5bd79; }
.c2225-tuscany { background-color: #d0a892; }
.c2364-oakwood { background-color: #947f72; }
.c2401-rouge { background-color: #9c5f55; }
.c2403-toffee { background-color: #a36750; }
.c2458-old-fresco { background-color: #b7918b; }
.c2459-plum-lips { background-color: #b1706a; }
.c2549-roast-coffee { background-color: #574840; }
.c2573-rosette-stone { background-color: #cac4bc; }
.c2595-heavy-cream { background-color: #d9c3b9; }
.c2630-brown-script { background-color: #8d6b66; }
.c2711-rich-kashmir { background-color: #6a605c; }
.c2770-deep-maroon { background-color: #734a43; }
.c2803-steady-brown { background-color: #7b453f; }
.c3003-flint { background-color: #d2cfcb; }
.c3009-knight { background-color: #bebbba; }
.c3047-shadow-purple { background-color: #93878e; }
.c3165-midnight { background-color: #615c5b; }
.c3230-brushed-granite { background-color: #a8a5a3; }
.c3309-deep-burgundy { background-color: #5e4a4b; }
.c4069-celestial { background-color: #9fabb5; }
.c4072-moon-reflection { background-color: #637988; }
.c4094-shallow-wave { background-color: #c3dae8; }
.c4095-ocean-view { background-color: #a6c5dc; }
.c4096-bayside-blue { background-color: #94b5c9; }
.c4098-sky-safari { background-color: #66889b; }
.c4155-swift { background-color: #a0b5c7; }
.c4224-royal-blue { background-color: #23517a; }
.c4226-thunder-hero { background-color: #394f6c; }
.c4241-alice-blue { background-color: #6a889f; }
.c4400-blue-marine { background-color: #384b5a; }
.c4457-mega-pipe { background-color: #a8afb3; }
.c4629-matt-silver { background-color: #81868a; }
.c4668-mistral-breeze { background-color: #ccced1; }
.c4670-plumage { background-color: #707f8c; }
.c4678-road-home { background-color: #bbbfc6; }
.c4681-star-violet { background-color: #8c8891; }
.c4684-ice-lilac { background-color: #a1a1ad; }
.c4687-thunder { background-color: #565e75; }
.c4691-blue-view { background-color: #929aae; }
.c5043-pale-teal { background-color: #87b2b0; }
.c5045-silver-clay { background-color: #aebfc3; }
.c5255-space-grey { background-color: #6b6f70; }
.c5272-white-clay { background-color: #8e9393; }
.c5276-near-dusk { background-color: #d3ddde; }
.c5310-river-bank { background-color: #758488; }
.c5365-paradise { background-color: #377a92; }
.c5366-tar { background-color: #46494a; }
.c6198-cobalt { background-color: #4f6b6a; }
.c6313-leaf-touch { background-color: #65746d; }
.c6317-alphine-snow { background-color: #e1e4e1; }
.c7037-sour-onion { background-color: #cfd8ca; }
.c7039-khaki { background-color: #b4b9a1; }
.c7040-cypress { background-color: #919c81; }
.c7044-morgan-tone { background-color: #a2a6a2; }
.c7052-green-smoke { background-color: #7b7e69; }
.c7249-adele { background-color: #595d5a; }
.c7312-library-seat { background-color: #446a4c; }
.c7379-washed-green { background-color: #9fac9d; }
.c7395-stylish-grey { background-color: #7e8280; }
.c7528-tree { background-color: #526a5c; }
.c7544-bay-leaf { background-color: #7a867a; }
.c8046-twig-brown { background-color: #766d5b; }
.c8050-grove { background-color: #84775b; }
.c8054-sunny-spot { background-color: #eeca6b; }
.c8063-lena { background-color: #b4a687; }
.c8064-rompin { background-color: #939246; }
.c8067-green-spring { background-color: #d1cb7a; }
.c8073-oolong { background-color: #ccb261; }
.c8079-nature-oasis { background-color: #91937c; }
.c8284-olive { background-color: #b7a77f; }
.c8304-thyme { background-color: #7c796e; }
.c8357-buried-treasure { background-color: #ccc1a5; }
.c8427-secret-garden { background-color: #aba681; }
.c9904-twilight { background-color: #e0e0dc; }
.c9910-suave { background-color: #727170; }
.c9911-platinum { background-color: #bcbcb8; }
.c9915-oxford-river { background-color: #d3d3ce; }
.c9920-carbon-black { background-color: #545351; }
.c10012-mars-dust { background-color: #a9795a; }
.c10031-ginkgo { background-color: #efd0ac; }
.c10051-claywood { background-color: #958673; }
.c10336-fudge { background-color: #6d5d50; }
.c10399-pegagus { background-color: #e6e0d4; }
.c10406-golden-lily { background-color: #f1be55; }
