.c125-palm-leaf { background-color: #758068; }
.c254-dark-magnolia { background-color: #ebe4d1; }
.c274-cactus { background-color: #d6bf85; }
.c486-early-rain { background-color: #e9e6da; }
.c1001-egg-white { background-color: #eeece1; }
.c1016-antique-white { background-color: #ccc4b4; }
.c1017-peach { background-color: #eccca0; }
.c1024-timeless { background-color: #dfdcd1; }
.c1032-iron-grey { background-color: #a9a69e; }
.c1156-petals { background-color: #edc78b; }
.c1171-orchid { background-color: #e7dcc3; }
.c1304-romantic { background-color: #eee1c3; }
.c1334-pure-barley { background-color: #f4ebd5; }
.c1348-skank-yellow { background-color: #fea421; }
.c1356-cornsilk { background-color: #f3eed9; }
.c1361-cocoa-root { background-color: #a26f3e; }
.c1369-sun { background-color: #ead1a2; }
.c1391-bare { background-color: #d3d2c7; }
.c1392-antique-yellow { background-color: #d3b48a; }
.c1453-vanilla { background-color: #efeee1; }
.c1456-blonde-ambition { background-color: #feb903; }
.c1462-evening-sky { background-color: #83807a; }
.c1501-regal-yellow { background-color: #feb147; }
.c1622-edelweiss { background-color: #eae8e0; }
.c1624-skylight { background-color: #f1f0e7; }
.c1625-soul { background-color: #ebe7d6; }
.c1628-tangerine-blast { background-color: #e48040; }
.c1633-citronella { background-color: #fed897; }
.c1648-wiltshire-cream { background-color: #f8e3c6; }
.c1653-glolden-sunset { background-color: #f4af38; }
.c1779-sienna-orange { background-color: #fec35a; }
.c1876-wild-earl { background-color: #d3cab8; }
.c1877-pebblestone { background-color: #95928a; }
.c1929-nutmeg { background-color: #a09384; }
.c1938-tea-leaves { background-color: #baaa91; }
.c1987-oak-sand { background-color: #cc955b; }
.c2185-oriental-red { background-color: #c24644; }
.c2206-yellow-stone { background-color: #f5bd79; }
.c2228-vision { background-color: #efeae0; }
.c2374-bliss { background-color: #f7ded2; }
.c2396-tender-pink { background-color: #f3e7de; }
.c2454-pink-zen { background-color: #f2a49f; }
.c2456-maple-salmon { background-color: #dd7569; }
.c2495-burdan { background-color: #ea885c; }
.c2561-mountain-sunset { background-color: #e17744; }
.c2591-nude-spice { background-color: #f8d6ca; }
.c2602-butterfly { background-color: #f2a195; }
.c2604-coral-dune { background-color: #e16a5e; }
.c2612-pinkkins { background-color: #f7ccc3; }
.c2615-patisserie { background-color: #f6b8b2; }
.c2846-winery { background-color: #755352; }
.c3010-damask-rose { background-color: #db99a2; }
.c3113-robena { background-color: #be718a; }
.c3114-rose-leaf { background-color: #c18496; }
.c3115-magic-powder { background-color: #dbafba; }
.c3144-white-malva { background-color: #efebe5; }
.c3154-dream { background-color: #ebe9eb; }
.c3183-english-rose { background-color: #f1e0de; }
.c3185-elderberry-crush { background-color: #b25668; }
.c3203-tomato { background-color: #bc707b; }
.c3224-dreamy { background-color: #e0c9ce; }
.c3243-bermuda-pink { background-color: #eea9b2; }
.c3247-fiery-crush { background-color: #d67385; }
.c3302-little-princess { background-color: #ece0e3; }
.c3328-royale-berry { background-color: #895871; }
.c3331-ursula { background-color: #926d80; }
.c4108-eternal-blue { background-color: #a6d1e6; }
.c4148-ultra-violet { background-color: #879bc8; }
.c4149-callie-purple { background-color: #b7aec3; }
.c4150-lunar-plum { background-color: #9eb4df; }
.c4154-lavender-whip { background-color: #97a7c6; }
.c4164-blue-lagoon { background-color: #6ca3d4; }
.c4165-vintage-linen { background-color: #a5c3df; }
.c4178-gladiola { background-color: #becde0; }
.c4202-parrot-blue { background-color: #4586c2; }
.c4214-taaluk { background-color: #786086; }
.c4326-violet-peace { background-color: #cbd9ea; }
.c4392-violet { background-color: #947aa0; }
.c4399-blue-ash { background-color: #d7e7eb; }
.c4445-arctic-blue { background-color: #8ec7e7; }
.c4447-musk { background-color: #e7e4ea; }
.c4448-soft-lilac { background-color: #dbd4e5; }
.c4454-thousand-nights { background-color: #dee4e4; }
.c4488-violet-dreams { background-color: #c8b8d4; }
.c4492-cherry-swift { background-color: #eaeae9; }
.c4497-amethyne { background-color: #b3a1bf; }
.c4498-purple-candy { background-color: #9b8aa8; }
.c4508-inglot { background-color: #c3d3ea; }
.c4518-fresh-feel { background-color: #c4dbea; }
.c4520-paige { background-color: #e4e8e8; }
.c4521-midnight-floss { background-color: #aec1df; }
.c4525-violet-sea { background-color: #5a6d98; }
.c5001-snow-white { background-color: #e7edea; }
.c5039-pacific-dye { background-color: #8dbfc1; }
.c5136-ice-turquoise- { background-color: #b9e1e5; }
.c5168-mermaid-green { background-color: #d2e8e8; }
.c5206-atlantic-pool { background-color: #48bccf; }
.c5207-spa-care { background-color: #9dd8e1; }
.c5225-lake-view { background-color: #b9cece; }
.c5262-svalbard-sea { background-color: #cfdcdb; }
.c5277-urban-nile { background-color: #8fcbd5; }
.c5279-daze-bayou { background-color: #2ea3b7; }
.c5281-exude-honey { background-color: #4a95a6; }
.c5306-pirate { background-color: #8dbfc1; }
.c5362-fusion { background-color: #4d6b6e; }
.c5397-scooter { background-color: #618a8b; }
.c6032-imperial-jade { background-color: #75cbc3; }
.c6191-beryl-charm { background-color: #a4e2db; }
.c7001-hint-of-green { background-color: #e8ece6; }
.c7236-chi { background-color: #f2f3ed; }
.c7270-apple-frost { background-color: #e4ecd5; }
.c7408-lemon-zest { background-color: #d7e5c0; }
.c7418-mosley { background-color: #89b04b; }
.c7550-betel { background-color: #abbf5d; }
.c8004-orchid-green { background-color: #9b954c; }
.c8011-satin-beige { background-color: #f0eeda; }
.c8088-spring-foliage { background-color: #bdae7c; }
.c8159-spring-dew { background-color: #eceee4; }
.c8190-apple-white { background-color: #eff0de; }
.c8199-sugar-cane { background-color: #b8b36d; }
.c8200-winter-willow { background-color: #e1d8a4; }
.c8237-herbal-fusion { background-color: #e8ecbb; }
.c8239-fresh-day { background-color: #dde3a1; }
.c8242-metamorph { background-color: #b4b63d; }
.c8265-lime-peel { background-color: #c2c76d; }
.c8284-olive { background-color: #b7a77f; }
.c8306-golden-kiwi { background-color: #b29b59; }
.c8323-clover-lane { background-color: #cdd295; }
.c8325-wondergrass { background-color: #c2c76d; }
.c8331-alda { background-color: #9b9c60; }
.c8334-green-root { background-color: #838451; }
.c8352-patina-rust { background-color: #e9daa7; }
.c8362-ivy-dirt { background-color: #9a824b; }
.c9904-twilight { background-color: #e0e0dc; }
.c9918-morning-fog { background-color: #efeee8; }
.c10005-tangy { background-color: #f3a767; }
.c10038-yellow-shan { background-color: #eeba31; }
.c10245-ginseng { background-color: #dccdaf; }
.c10248-olive-garden { background-color: #948368; }
.c10336-fudge { background-color: #6d5d50; }
.c10342-sable-stone { background-color: #bab3a6; }
.c10429-discrete { background-color: #8b857e; }
